<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brand"> &copy; Hotel Listings </div>
        <div class="f-info-links">
            <a href ="/privacy"> Privacy Policy </a>
            <a href ="/terms "> Terms and Conditions </a>
        </div>
    </div>
</footer>